.publisher-card .publisher-card-item-title {
    font-weight: lighter;
}

.publisher-card .publisher-card-item-info {
    font-weight: bold;
}

.publisher-card .publisher-name {
    font-size: 2em;
}

.publisher-card .card-content {
    padding: 10px 24px;
}