.macro-region-card-content {
  padding: 0;
}

.macro-region-card-content-info {
  display: flex;
  justify-content: space-between;
}

.macro-region-card-content-info-text .neighborhood {
  font-size: 0.7rem;
}

.macro-region-card-content-info-text .street {
  font-size: 1.3rem;
}

.macro-region-card-content-info-btn {
  display: flex;
  align-items: center;
}
